<div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <h2>Register</h2>
        <div class="form-group">
            <label>Full Name</label>
            <input type="fullName" formControlName="fullName" />
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" formControlName="email" />
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" formControlName="password" />
        </div>
        <button type="submit" [disabled]="registerForm.invalid">Register</button>
        <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>
    </form>
</div>